<div class="col-md-12">

  <div class="dropdown clearfix pull-right" style="margin: 24px 4px">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      排序
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
      <li>
        <%= link_to("按照完成时限排序", admin_tasks_path(:order => "by_hope_dead_line"))%>
      </li>
      <li>
        <%= link_to("按照承诺分成排序", admin_tasks_path(:order => "by_commit_wage"))%>
      </li>
      <li>
        <%= link_to("按照发表时间排序", admin_tasks_path) %>
      </li>
    </ul>
  </div>
  <div class="pull-right" style="margin: 24px 4px">
    <%= link_to("加入一项任务", new_task_path, :class => "btn btn-default")%>
  </div>

  <div class="panel panel-info" style="margin-top: 20px;">
  <!-- Default panel contents -->
  <div class="panel-heading">我关注的所有课题</div>
  <div class="panel-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <td>课题名称</td>
            <td>管理功能</td>
            <td>受到关注</td>
            <td>收到留言</td>
            <td>期望时限(天)</td>
            <td>报答礼金(RMB)</td>
            <td>联系方式</td>
            <td>发表时间</td>
          </tr>
        </thead>
        <tbody>
          <% @tasks.each do |task| %>
          <tr>
            <td>
              <%= render_task_status(task) %>
              <%= link_to(task.title, task_path(task)) %>
              <span class = "pull-right" style="margin: 2px 4px 0px 4px;">
              <% if current_user && current_user.have_resumed_for?(task) %>
                <label class = "label label-success" style="padding-bottom: 5px;"> 联系过了 </label>
              <% else %>
                <label class = "label label-warning"> 未尝联系 </label>
              <% end %>
              </span>
            </td>
            <td>
              <% if current_user && current_user==task.user %>
                <%= link_to("编辑", edit_task_path(task)) %>
                |
                <%= link_to("删除", task_path(task), :method => :delete, :data => {:confirm => "你确定吗？"}) %>
                <% if task.is_hidden %>
                  <%= link_to("公开", publish_admin_task_path(task) , :method => :post, :class => "btn btn-xs btn-default") %>
                 <% else %>
                   <%= link_to("保留", hide_admin_task_path(task), :method => :post,  :class => "btn btn-xs btn-default") %>
                 <% end %>
              <% else %>
              -
              <% end %>
            </td>
            <td>
              <%= link_to(task.concerned_members.count, admin_task_resumes_path(task)) %>
            </td>
            <td>
              <%= link_to(task.resumes.count, admin_task_resumes_path(task)) %>
            </td>
            <td>
              <%= task.hope_dead_line %>
            </td>
            <td>
              <%= task.commit_wage %>
            </td>
            <td>
              <%= task.contact_email %>
            </td>
            <td>
              <%= task.created_at %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </div>
</div>
