<h1>加入一项任务</h1>

<%= simple_form_for @task do |f| %>

  <%= f.input :title  %>
  <%= f.input :description %>
  <%= f.input :hope_dead_line, :label => "预期几日完成" %>
  <%= f.input :commit_wage, :label => "承诺报酬分成" %>
  <%= f.input :contact_email, :label => "联系邮箱" %>
  <%= f.input :is_hidden, :label => "暂不公开" %>
  <%= f.submit "提交"  %>

<% end %>
