<div class="panel panel-info">
  <div class="panel-heading">
    <h4>
      提交援助邀约给 <%= @task.title %>
    </h4>
  </div>
  <div class="panel-body">
    <%= simple_form_for [@task, @resume] do |f| %>
      <%= f.input :content, :label => "邀约说明" %>
      <%= f.input :attachment, :label => "附件证明" %>
<hr>
      <%= f.submit "送 出" %>
    <% end %>
  </div>
</div>
