<!DOCTYPE html>
<html>
  <head>
    <title>BeMyCoach</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- 用container-fluid风格装饰题头和主体 -->
    <div class="container-fluid">
      <%= render "common/narbar" %>
      <%= yield %>
    </div>
    <!-- 不用container-fluid风格装饰地脚，什么也不用 -->
    <%= render "common/narbar" %>

  </body>
</html>
